body {
    padding: 30px;
    background: rgb(231, 221, 189);
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.btn-class {
    padding: 6px;
    background: rgb(91, 92, 151);
    color: white;
    cursor: pointer;
    display: inline-block;
}

