  
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Account</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
	<h1>Account</h1>
	<br>
	<br>
	<h5 id="result_label">Welcome back, <font color="red">{{login}}</font>!<br>
                          Hobbie: <font color="green">{{hobbie}}</font><br>
                          Age: <font color="blue">{{age}}</font><br></h5>
</body>
</html>